/* General Styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

p {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

section {
    overflow: hidden;
}

/* Header */

#main-header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#main-title h1 {
    text-align: left;
    font-size: 1.8em;
    margin-left: 0;
}

/* Pictures */

#main-content {
    text-align: center;
}
#main-kitties {
    display:inline-block ;
    text-align: center;
    background-color: lightpink;
}
#main-kitties h2 {
    font-size: 1.5em;
    margin-top: 5em;
}

.caption {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    margin: 0.3em;
    width: 10em;
    bottom: 5px;
}

#photos-align {
    width: 50em;
}

.cat-photo {
    display: inline-block;
    width: 10em;
}

.cat-photo img {
    margin: 1em;
    width: 10em;
}

