/* General Styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

p {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

section {
    overflow: hidden;
}

/* Header */

#main-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
#main-header h1 {
    font-size: 2em;
    font-weight: bold;
}
/* Pictures */

#main-content {
    text-align: center;
}
#main-kitties {
    padding-top: 10%;
    text-align: center;
    background-color: lightpink;
}
#main-kitties h2 {
    font-weight: bold;

}
.caption {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#main-kitties #photos-align {
    margin: 0 auto;
    width: 75%;
    float: left;
    position: relative;
}

#photos-align .cat-photo {
    display: inline-block;
    margin: 1%;
    position: relative;

}

.cat-photo img {
    display: block;
    max-width: 100%;
}
